.archive-list-page {

}

.archive-list-container {
  margin: 20px 40px;

}

.select-container {

}

.select-container label {
  font-size: 14px;
}

.select-container select {
  display: block;
  margin: 10px 0;
}

.archive-list {
  list-style: none;
  padding-left: 0;
}