.favourites-list { 
  padding-top: 30px;
  max-width: 100%;
  font-family: var(--text-font);
}

.favourites-list .favourites-article {
  padding: 10px 0;
  opacity: 1;
  transition: all 0.5s;
}

.favourites-article.fade-out {
  opacity: 0;
  transform: translate(600px);
} 

.favourites-list .favourites-article .article-container {
  position: relative;
  background-color: rgb(246, 248, 246);
  padding: 10px;
  border-radius: 3px;
  box-shadow:0px 3px 12px 1px #00000033;
  margin: 0 auto;
  width: 90%;
}

.favourites-list .favourites-title-link {
  text-decoration: none;
}

.favourites-list .favourites-title-link:hover {
  text-decoration: underline;
}

.favourites-list .favourites-title {
  margin: 5px 0;
  font-size: 1em;
  color: #1A202C;
  color:  var(--text-grey);
}
.favourites-list .favourites-author {
  margin: 0;
  font-size: 0.75em;
  color: #272d3a;
  color: var(--lighter-text-grey);
}

.favourites-list .favourites-preview {
  margin: 0;
  font-size: 0.75em;
  display: inline-block;
  color: #272d3a;
  color: var(--lighter-text-grey);
}

.favourites-list .favourites-category-list {
  display: block;
  margin: 0;
}

.favourites-list .favourites-category-list-item { 
  display: inline-block;
  margin: 0;
  font-size: 0.75em;
}

.favourites-list .favourites-category-list-item span {
  color: grey;
}

.favourites-list .favourites-preview {
  max-width: 75%;
}

.favourites-list .favourites-delete-button {
  background-color: #c46666;
  color: white;
  color: rgb(248, 248, 248);
  font-size: 26px;
  border-radius: 3px;
  border: none;
  box-shadow:0px 3px 12px 1px #00000033;
  display: inline-block;
  width: 34px;
  position: absolute;
  right: 0;
  margin: 0 20px;
  transition: background-color 0.25s, color 0.25s, box-shadow 0.25s, scale 0.25s;
}

.favourites-list .favourites-delete-button:hover {
  box-shadow:0px 3px 12px 1px #00000085;
  background-color: rgb(199 54 54);
  background-color: #c46666;
  transform: scale(1.1);
}