.list {
  font-family: var(--text-font);
}

.list-article-block {
  text-align: center;
  max-width: 100%;
}

.list-article-block .list-title-link {
  color: rgb(27, 27, 27);
}

.list-article-block .list-title-link .list-title {
  font-size: 2.5rem;
  margin: 0;
  padding: 10px 0;
  color: var(--text-grey);
}

.list-article-block .list-author {
  margin: 0;
  padding: 0;
  color: rgb(30, 116, 101);
}

.list-article-block .article-list-date {
  margin: 10px 0 0;
}

.list-article-block .list-preview {
  text-align: left;
  margin: 0 50px;
  min-height: 50px;
}

.list-categories-list {
  text-align: left;
  padding-left: 50px;
}

.list-categories-list .list-category-list-item {
  background: white;
  display: inline-block;
  margin: 5px;
}

.list article .no-more-results {
  margin: 10px 30px;
}