.profile-page {
  font-family: var(--text-font);
}

.profile-page h4 {
  padding-top: 20px;
  margin: 20px 0 10px;
  font-size: 0.9em;
  color: var(--text-grey);
  word-break: break-word;
}

.profile-page h3 {
  margin: 0;
  color: var(--text-grey);
}

.profile-page p {
  margin: 0;
}

.profile-page h5 {
  color: var(--text-grey);
}

.update-password {
  padding: 20px 0;
  margin: 20px auto 60px;
  background: #EDF2F7;
  background-color: whitesmoke;
  box-shadow: 0px 3px 12px 1px #00000033;
}

.update-password .form-text-label {
  margin: 8px 30px;
  text-align: center;
  color: var(--text-grey);
}

.update-password input {
  margin: 5px auto 15px;
  font-size: 16px;
  width: 75%;
  max-width: 320px;
  padding: 16px;
  display: block;
}

.update-password .input-text {
  border-radius: 4px;
  border: solid rgba(0, 0, 0, 0) 2px;
  font-family: var(--text-font);
  background-color: #CBD5E0;
}

.update-password .input-text.input-error {
  border: solid red 2px;
}

.update-password label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.update-password .center {
  margin-top: 0;
  display: flex;
}

.update-password .submit-btn {
  background: rgb(17, 214, 122);
  width: 100%;
  padding: 10px;
  font-size: 1.25rem;
  color: white;
  height: auto;
}

.update-password .cancel-btn {
  margin: 5px auto 15px;
  max-width: 320px;
  display: block;
  background: rgb(34, 111, 183);
  width: 100%;
  padding: 10px;
  font-size: 1.25rem;
  color: white;
  height: auto;
  margin-left: 10px;
}

.update-password .submit-password-btn {
  margin: 5px auto 15px;
  max-width: 320px;
  display: block;
  background: rgb(17, 214, 122);
  width: 100%;
  padding: 10px;
  font-size: 1.25rem;
  color: white;
  height: auto;
  margin-right: 10px;
}

.password-reset-success-message {
  color: rgb(11, 83, 11) !important;

}

.successful-home-link-container {
  padding-bottom: 90vh;
  display: block;
}
.successful-home-link {
  text-decoration: none;
  font-family: var(--text-font);
  color: #272d3a;
  color: var(--lighter-text-grey);
}

.successful-home-link:hover {
  text-decoration: underline;
}

.password-reset-error-message {
  color: rgb(226, 56, 44) !important;
}

.profile--more {
  padding: 30px 0;
}

@media (max-width: 550px) {
  .update-password {
    margin: 30px auto;
    width: 100%;
  }
  .update-password .submit-btn {
    font-size: 1rem;
    width: auto;
  }
  .profile--more {
    font-size: 0.9em;
  }

  .submit-btn {
    font-size: 0.9em;
  }
  
  .update-password .submit-btn {
    font-size: 0.9rem;
  }

  .update-password input {
    margin: 5px auto 15px;
    font-size: 1rem;
    width: 75%;
    max-width: 320px;
    padding: 12px; 
  }
  
  .update-password .cancel-btn {
    font-size: 0.9rem;
    margin: 5px;
  }
  
  .update-password .submit-password-btn {
    font-size: 0.9rem;
    margin: 5px;
  }
  
}

@media (max-width: 400px) {
  .update-password .center {
    display: block;
  }
  .update-password .cancel-btn {
    width: 75%;
    margin: 10px auto;
  }
  
  .update-password .submit-password-btn {
    width: 75%;
    margin: 10px auto;
  }
}