.profile-page {
  font-family: var(--text-font);
  margin: 50px; 
}

.profile-page h2 {
  margin: 10px 0;
}

.profile-page h3 {
  margin: 5px 0;
}

.profile-page p {
  margin: 0;
}

.update-password {
  padding: 60px 40px;
  margin: 20px auto  60px;
}

.update-password input {
  margin: 5px 0 30px;
  font-size: 1.15rem;
  width: 75%;
  padding: 10px;
}

.update-password .submit-btn {
  background: rgb(17, 214, 122);
  width: 100%;
  padding: 10px;
  font-size: 1.25rem;
  color: white;
}

.password-reset-success-message {
  color: green;
  padding-bottom: 90vh;
}

.password-reset-error-message {
  color: red;
}