.footer {
  background-color: grey;
  height: 200px;
  display: flex;

}

.footer-logo {
  width: 180px;
}

.footer-details p {
  margin: 0;
}

.footer-lists {
  display: inline-block;
  margin: 0;
}

.footer-details {
  display: inline-block;
  margin: 0;
  margin: 0 0 0 auto;
  padding: 30px 0;
  font-family: var(--text-font);  
}

.footer-details p {
  font-size: 14px;
}

.footer-col {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 30px 0;
}

.footer-col li a {
  text-decoration: none;
  font-family: var(--text-font);
}

.footer .container {
  display: flex;
}