.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  margin-left: 25px;
}

.logo img {
  width: 180px;
}

.header nav {
  width: 100%;
  display: flex;
}

.header nav ul {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 25px 15px 0 auto;
} 

.header nav ul li {
  display: inline;
  margin: 0 25px;
}

.header nav ul li a {
  text-decoration: none;
  font-size: var(--link-text-size);
  color: var(--white-text);
  font-family: var(--text-font);
  font-weight: 400;
  transition: color 0.25s;
}

.header nav ul li a:hover {
  color: var(--white-text-hover);
}