.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  margin-left: 25px;
}

.logo img {
  width: 180px;
}

.header {
  width: 100%;
  display: block;
  transition: background-color 0.3s;
  z-index: 1;
  /* background-color: green;
  box-shadow: 0 1px 3px 0px black; */
}

@media only screen and (min-width: 900px) {
  .header nav {
    width: 100%;
    display: flex;
  }
}

.desktop-menu {
  display: none;
}

@media only screen and (min-width: 900px) {
  .header nav .desktop-menu {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 25px 15px 0 auto;
  } 
}

.header nav .desktop-menu li {
  display: inline;
  margin: 0 15px;
}

.header nav .desktop-menu li a {
  text-decoration: none;
  font-size: var(--link-text-size);
  color: var(--white-text);
  font-family: var(--text-font);
  font-weight: 400;
  transition: color 0.25s;
}

.header nav .desktop-menu li a:hover {
  color: var(--white-text-hover);
}

.menu-btn {
  display: none;
}

@media only screen and (max-width: 900px) {
  .menu-btn {
    display: block;
    top: 25px;
    right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    position: absolute;
    border: none;
  }
}

.menu-line {
  width: 96%;
  margin: 7px auto;
  background-color: var(--white-text);
  transition: background-color 0.25s;
  border-radius: 10px;
  height: 3px;
}

.menu-btn:hover .menu-line {
  background-color: var(--white-text-hover);
}

.headerBackgroundColour {
  background-color:rgb(49, 104, 53);
}

.desktop-menu li .show-nav-location.active{
  transition: border-bottom 1s;
  border-bottom: solid rgba(255, 255, 255, 0) 2px;
}
.desktop-menu li .show-nav-location.active {
  transition: border-bottom 1s;
  border-bottom: solid blue 2px;
}