.join-form-container {
  background-color: white;
  font-family: var(--text-font);
  padding: 60px 0;
}

.join-form-container .red-text {
  color: red;
  font-size: 1.5rem;
}

.join-form--text {
  display: none;
}

.join-form--checkbox {
  display: none;
}

.join-form label {
  display: block;
}


.join-form input[type="checkbox"] {
  height: 40px;
  width: 40px;
  margin: 0 20px;
}

.join-form input[type="text"] {
  display: block;
  margin: 5px auto;
  font-family: var(--text-font);
  padding: 0 5px;
  margin: 10px auto;
}

.join-form input[type="submit"] {
  margin: 10px auto;
}

.join-form .inline-elem {
  display: inline-block;
}

.join-form--reason-text {
  font-size: 0.9rem;
}

.animated-form-notice {
  animation-name: formNotice;
  animation-duration:0.5s;
  animation-timing-function: ease;

}

@keyframes formNotice {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  13% {
    opacity: 1;
    transform: translate(0, -30px);
  }
  36% {
    transform: translate(0, 15px);
  }
  65% {
    transform: translate(0, -15px);
  }
  84% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, 0px);
  }
}