.form-element {
  max-width: 400px;
  margin: auto;
  font-family: var(--text-font);
}


.form-element h3 {
  font-family: var(--text-font);
}

.form-element form {
  background: #e6e6e6;
  box-shadow: 0 2px 5px 1px #a49b9b;
  border-radius: 5px;
  padding: 15px;
}

.form-element input {
  display: block;
  font-family: var(--text-font);
  font-size: 1rem;
  margin: 10px auto;
  padding: 5px;
}

.form-element input[type="text"] {
  display: block;
  margin: 5px auto;
  margin: 10px auto;
  width: 90%;
}

.form-element input[type="password"] {
  display: block;
  margin: 5px auto;
  margin: 10px auto;
  width: 90%;
}

.form-element input[type="submit"] {
  margin: 20px auto;
  font-weight: 900;

}

.form-element form label {
  font-weight: 900;
  display: block;
  text-align: center;
}

.login-error-animation {
  animation: formNotice 0.5s ease;
}