.mini-feed {
  border-radius: 3px;
  padding: 20px;
}

.mini-feed ul li {
  list-style: none;
}

.mini-feed--article-grid {
  margin: 0;
  padding-left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.mini-feed--article-grid a {
  text-decoration: none;
}

.mini-feed--grid-preview { 
  background: rgb(245, 239, 239);
  border-radius: 3px;
  text-align: center;
  font-family: var(--text-font);
  transform: translate(0, 0);
  margin: 0 5px;
  transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.mini-feed--grid-preview:hover {
  transform: translate(0, -10px);
}

.mini-feed--grid-preview:nth-of-type(1) {
  -ms-grid-row:1; 
  -ms-grid-column:1; 
}

.mini-feed--grid-preview:nth-of-type(2) {
  -ms-grid-row:1; 
  -ms-grid-column:2; 
}

.mini-feed--grid-preview:nth-of-type(3) {
  -ms-grid-row:1; 
  -ms-grid-column:3; 
}

.mini-feed--grid-preview .mini-feed--grid-preview--title {
  font-size: 1rem;
  margin: 15px auto;
  color: #1A202C;
  color: var(--text-grey);
  transition: color 0.2s;
}

.mini-feed--grid-preview .mini-feed--grid-preview--title:hover {
  color: blue;
}

.mini-feed--grid-preview .mini-feed--grid-preview--date {
  margin: 5px auto;
  font-size: 0.75rem;
}

.mini-feed--grid-preview .mini-feed--grid-preview--author {
  margin: 5px auto;
}

.minifeed-article-list-link {
  color: #1A202c;
  color: var(--grey-text);
  font-family: var(--text-font);
  margin: 25px 10px 5px;
  display: block;
  transition: color 0.25s;
}

.minifeed-article-list-link:hover {
  color: var(--lighter-text-grey); 
  color: #272d3a;
}

.mini-feed--grid-preview .mini-feed-image-container {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  margin: 0px auto;
  border-radius: 3px;
  overflow: hidden;
  transition: transform 0.3s;
}

.mini-feed--grid-preview .tiny-preview {
  padding: 5px 10px 15px;
  margin: 0 auto;
  font-size: 0.95rem;
}

.mini-feed--article-grid :nth-of-type(4) {
  display: none;
}

@media (max-width: 900px) {
  .mini-feed--article-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .mini-feed--article-grid :nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 700px) {
  .mini-feed {
    padding: 0 20px;
  }

  .mini-feed--grid-preview {
    padding: 20px 0;
    margin: 20px 0;
    display: block;
  }

  .mini-feed--grid-preview:hover {
    transform: translate(0, 0);
  }

  .mini-feed--article-grid {
    display: block;
    /* make 2nd and third dissappear  */
  }

  .mini-feed--article-grid :nth-of-type(3) {
    display: block;
  }


  .minifeed-article-list-link {
    padding-bottom: 20px;
  }

  .tiny-preview {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .mini-feed--grid-preview {
    padding: 10px 0;
  }

  .mini-feed--grid-preview .tiny-preview {
    padding: 5px 10px 10px;
  }
}