.mob-nav {

  position: absolute;
  right: 0;
  height: 100%; 
  height: 100vh;
  width: 75%;
  width: 75vw;
  transform: translate(100%);
  transition: transform 0.3s;
  background-color:rgb(49, 104, 53);
}

.mob-nav.open {
  transform: translate(0);
}

.mob-nav ul li {
  display: block;
  font-size: 2rem;
  padding: 2rem;
  display: flex;
}

.mob-nav ul li a {
  color: white;
  text-decoration: none;
}

.mob-nav ul li a.active {
  border: red solid 3px;
}