.subject-heading {
  padding: 20px 0;
  font-family: var(--text-font);
  border-bottom: 1px dotted rgb(184, 184, 184);
}

.subject-heading .subject-heading--header {
  margin: 20px 40px;
  font-size: 2rem;
  color: var(--text-grey);
}

.subject-heading .subject-heading--text-container {
  margin: 20px 40px;
  color: var(--text-grey);
}

@media (max-width: 550px) {
  .subject-heading .subject-heading--header {
    font-size: 1.5rem;
  }
  .subject-heading .subject-heading--text-container {
    font-size: 0.9em;
    margin: 0 40px;
  }
  .subject-heading .subject-heading--text {
    font-size: 0.9em;
  }
}