.mob-nav {
  background-color: white;
  color: black;
  position: absolute;
  right: 0;
  height: 100%;
  height: 100vh;
  width: 75%;
  width: 75vw;
  transform: translate(100%);
  transition: transform 0.3s;
  border: solid red 2px;
}

.mob-nav.open {
  transform: translate(0);
}