.jumbotron {
  display: grid;
  grid-template-columns: 50% 1fr;
  height: 100vh;
}

.jumbo-text-container {
  background-color: #4FA753;
}

.jumbo-text {
  color: var(--white-text);
  font-family: var(--text-font);
  margin: 200px auto;
  padding: 20px;
}

.jumbo-text h1 {
  font-size: 72px;
  font-weight: 400;
  margin: 0;
}

.jumbo-text h2 {
  font-size: 24px;
  font-weight: 400;
}

.jumbo-text .secondary-btn {
  margin: 0 20px;
}

.jumbo-image-container {

}

.jumbo-image-container img {
  margin: 200px auto;
  width: 560px;
  display: block;
}

.news-background {
  background-color: #EEF5EB;
  height: auto;
}

.news-background .three-panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  margin: 0 auto;
  width: 75%;
  transform: translate(0, -20px);
}

.news-background .three-panel .three-panel--panel {
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  font-family: var(--text-font);
  text-align: center;
  box-shadow: 0px 6px 12px 0px #00000029;
}

.news-background .three-panel .three-panel--panel h3{
  text-align: center;
  font-family: var(--text-font);
}

.news-background .three-panel .three-panel--panel .panel-link-button {
  border: solid rgb(20, 20, 20) 2px;
  padding: 8px;
  border-radius: 3px;
  color: rgb(20, 20, 20); 
  text-align: center;
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 0 auto;
  text-decoration: none;
  font-family: var(--text-font);
}

.news-background .more-info {
  font-family: var(--text-font);
}

.more-info {
  padding: 30px;  
}

.more-info .more-info--element {
  padding: 30px;
  font-family: var(--text-font);
}

@media (max-width: 480px) {

  


}

@media (max-width: 550px) {
  .jumbo-image-container {
    display: none;
  }

}

@media (max-width: 900px) {
  .jumbotron {
    display: block;
    height: auto;
  }

  .jumbo-text {
    margin: 80px auto;
    padding: 60px;
  }

  .jumbo-text h1 {
    font-size: 3rem;
  }

  .jumbo-text h2 {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .jumbo-text .btn {
    display: block;
    width: auto;
    margin: 20px auto;
    max-width: 300px;   
  }

  .jumbo-image-container img {
    margin: 120px auto 60px;
    width: 80%;
  }

  .news-background {
    height: auto;
  }

  .news-background .three-panel {
    display: block;
  }

  .news-background .three-panel .three-panel--panel {
    margin: 60px auto;
    max-width: 380px;
    padding: 60px;
  }
}

@media (max-width: 1300px) {
  .news-background {
    height: auto;
  }

  .news-background .three-panel {
    width: 90%;
  }

  .news-background .three-panel .three-panel--panel {
    padding: 15px;
  }

  .news-background .three-panel .three-panel--panel .panel-link-button {
    padding: 8px;
    width: 160px;
  }
}